* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $font-size-m;
  line-height: 1.6;
  color: $off-black;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.wrapper {
  width: 100%;
}

.wrapper__container {
  margin: 100px auto;
  width: 50%;
  max-width: 500px;
}

#firebaseui_container {
  margin: auto;
}

.MuiFormControl-root-72 {
  min-width: 320px !important;
}

.login {
  width: 120px;
  height: 120px;
  position: absolute;
  left: calc(50vw - 60px);
  top: calc(40vh - 60px);
}