// Colors
$off-black: #383838;
$dark-blue: #001978;
$off-blue: #0468ff;
$white: #fff;
$grey: #5a5a5a;
$danger: #972727;
// Font Size
$font-size-xs: .6rem;
$font-size-s: .8rem;
$font-size-m: 1rem;
$font-size-l: 1.2rem;
// Spacing
$s-size: .6rem;
$m-size: 1rem;
$l-size: 2rem;
$xl-size: 3rem;